

<form #feedbackForm="ngForm" (ngSubmit)="save(feedbackForm.value); feedbackForm.reset();"  id='daForm'>

  <div class="input-group">
    <span class="input-group-addon" id="YourProjectName-addon" >Project Name</span>
    <input type="text" class="form-control" id="projectName" name="projectName" ngModel aria-describedby="YourProjectName-addon" required>
  </div>

  <div class="input-group" style="margin-top:10px;">
    <span class="input-group-addon" id="YourProvisioningName-addon" >Provisioning Name</span>
    <input type="text" class="form-control" id="ProvisioningName" name="ProvisioningName" ngModel aria-describedby="YourProvisioningName-addon" required>
  </div>

    <div style="margin-top:10px;">
        Select an OS
        <select class="form-control" [(ngModel)]="stdProvForm.oS" name="oS" (change)="osChanged($event.target.value)" required >     
            <option *ngFor="let os of OSArr"  [ngValue]="os"  >
                {{os.Description}}
            </option>
        </select> 
    </div>

  <div class="input-group" style="margin-top:10px;">
    <span class="input-group-addon" id="YourRootVolumeSize-addon" >Root Volume Size</span>
    <input type="text" class="form-control" id="RootVolumeSize" name="RootVolumeSize" ngModel aria-describedby="YourRootVolumeSize-addon"  
        [(ngModel)]="stdProvForm.RootVolumeSize"  required>
  </div>

    <div style="margin-top:10px;">
        Select a VM size
        <select class="form-control" [(ngModel)]="Size" name="Size" required>     
            <option *ngFor="let x of SizeArr" [value]="x.ID" >{{x.Description}}</option>
        </select> 
    </div>


  <div class="input-group" style="margin-top:10px;">
    <span class="input-group-addon" id="YourProjectName-addon" >Additional Disks</span>
    <input type="text" class="form-control" id="theinput" name="theinput" [(ngModel)]="theinput" aria-describedby="YourProjectName-addon" >
    <button style="margin:5px;" class="btn btn-primary" (click)="addAdditionalDisk('1',$event)">+ Add disk</button>
    <button style="margin:5px;"class="btn btn-primary" (click)="removeAdditionalDisks('1',$event)"> - Clear all</button>
  </div>

    <div><b>Additional Disk Count:</b> {{additionalDisks.length}}</div>

        <div *ngFor="let item of additionalDisks; let i = index;">

            <span class="input-group-addon" >Additional Disk-{{i}}</span>
            <!--<textarea  id="additionalDisks{{i+1}}" name="additionalDisks{{i+1}}" [(ngModel)]="additionalDisks[i]" required onfocusout="additionalDisks{{i+1}}.focus();">{{item}} </textarea>-->
            <input  class="form-control" id="additionalDisks{{i}}" name="additionalDisks{{i}}" [(ngModel)]="additionalDisks[i]" value="{{item}}" readonly >&nbsp;&nbsp;Gigabyte
            <!--<div><button id="removeDisks{{i}}" name="removeDisks{{i}}" (click)="removeAdditionalDisk([i],$event)">-</button></div>-->
        </div>

        <div style="margin-top:10px;">
            Select a subnet
            <select class="form-control" [(ngModel)]="SubnetID" name="SubnetID" required>     
                <option *ngFor="let x of SubnetIDArr" [value]="x.ID" >{{x.Description}}</option>
            </select> 
        </div>
    
  <div style="margin:10px;">
    <button id='SendFeedback' type="submit" class="btn btn-primary" title="Click to send feedback" >Send&nbsp; 
      <span class="glyphicon glyphicon-send "></span>  
    </button>
</div>

</form>

<!--<pre>OS arr: <br>{{OSArr | json}}</pre>
<pre>SizeArr: <br>{{SizeArr | json}}</pre>
<pre>SubnetIDArr: <br>{{SubnetIDArr | json}}</pre>-->
<pre>submitted value: <br>{{feedbackForm.value | json}}</pre>


