<h2>Snow Crash</h2>
<div style="float:right;margin-top:20px;"><img src='assets/Images/Snowcrash.jpg'></div>
<div style="float:left;width:800px;">
<p>Snow Crash is Neal Stephenson's third novel, published in 1992. Like many of Stephenson's other novels it covers history, linguistics, anthropology, archaeology, religion, computer science, politics, cryptography, memetics and philosophy.</p>

<p>Stephenson explained the title of the novel in his 1999 essay In the Beginning... was the Command Line as his term for a particular software failure mode on the early Apple Macintosh computer. Stephenson wrote about the Macintosh that "When the computer crashed and wrote gibberish into the bitmap, the result was something that looked vaguely like static on a broken television set—a 'snow crash' ". Stephenson also mentioned a book by Julian Jaynes, The Origin of Consciousness in the Breakdown of the Bicameral Mind, as one of the main influences for Snow Crash.</p>

<p>The book presents the Sumerian language as the firmware programming language for the brainstem, which is supposedly functioning as the BIOS for the human brain. According to characters in the book, the goddess Asherah is the personification of a linguistic virus, similar to a computer virus. The god Enki created a counter-program which he called a nam-shub that caused all of humanity to speak different languages as a protection against Asherah (a re-interpretation of the ancient Near Eastern story of the Tower of Babel).</p>

<p>Snow Crash was nominated for both the British Science Fiction Award in 1993, and the Arthur C. Clarke Award in 1994.</p>

<p>
<b>Reason</b> is a railgun in a rotary cannon configuration which fires depleted uranium flechettes. It is mounted to a large, wheeled ammunition box and is equipped with a harness for user comfort, a nuclear battery pack, and a water-cooled heat exchanger. The weapon, created by Ng, was still in beta testing, and suffers a software crash during a battle. Hiro is later able to apply a firmware update, and uses it until its ammunition supply is depleted. It bears, in inscription on its nameplate, the Latin phrase Ultima Ratio Regum, "the last argument of kings".</p>
</div>


