

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div  class="container" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img src="Images/ReasonLogo.png" height="45" width ="109" style="margin-left:-10px;"/>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> menu <i class="fa fa-bars"></i>
        </button>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a class="page-scroll" href="#">absa\Nhlanhla</a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>

<!-- Main submit-->
<div class="container" style="margin-top:100px;">
  <h2><span class="glyphicon glyphicon-cog blue"></span> Provision your Reason Environment</h2>
  <form #x="ngForm" (ngSubmit)="sendRequest(x.value)">
    <div class="form-group">
      <label for="templateName">Provisioning Name</label>
      <input type="text" class="form-control" id="templateName" placeholder="Enter a friendly name" name="templateName" ngModel >
    </div>
    <div class="form-group">
      <label for="templatejson">JSON Template:</label>
      <textarea class="form-control" rows="15" id="templatejson" placeholder="Enter your JSON provisioning template"  name="templatejson" ngModel></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit 
      <span class="glyphicon glyphicon-arrow-right "></span>  
    </button>
  </form>

  <br/>
  
  <!-- Messages = error or sucess -->
  <div class="container">
    <div class="row">
      <div >
        <div style='border:1px solid red;display:{{display}};' class="{{class}}" >{{message}}</div>
      </div>
    </div>
  </div>

  <!-- Status -->
  <div *ngIf="displayRequestDiv">
    <h4><b>Status:</b> {{status}}</h4>
    <h5><b>Message:</b> {{statusChangeMessage}} {{pollCounterString}}</h5>
    <h6><b>Last query:</b> {{statusTimeStamp}}</h6>
   
  </div>

  <div class="container">
    <div class="row">

      <!-- Logss -->
      <div class=" logDump " *ngIf="displayLogDiv">
        <h4>Logs</h4>
        <h5>Last query:{{logsTimeStamp}}</h5>

        <ol>
          <li *ngFor="let item of logArr">{{item}}</li>
        </ol>

      </div>
    </div>

    <br/>

    <div class="row">

      <!-- Outputs -->
      <div class=" logDump " *ngIf="displayOutputDiv">
        <h4>Outputs</h4>
        <h5>Last query:{{outputsTimeStamp}}</h5>

        <ol>
          <!--<li *ngFor="let item of outputDic"><b>{{item["k"]}} :</b> {{item["v"]}}</li>-->
             <li *ngFor="let item of outputsArr">{{item}}</li>
        </ol>

      </div>

    </div>

  </div>
  <br/>
  <br/>
  <br/>

  <!-- Footer -->
  <nav id="footer" class="navbar navbar-default navbar-fixed-bottom affix">
    <div style="margin-left:auto;margin-right:auto;width:250px;line-height:50px;color:#919396">
      &copy; Project Reason {{year}}
    </div>
  </nav>
