

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix" style='background-color:#337ab7'>

  <div  class="container" >
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >
        <!--<a [routerLink]="['/home']" >-->
        <a class="mdl-navigation__link" [routerLink]="'/home'"><h3 style="color:white;background-color:#337ab7;">Reason</h3></a>
        <!--<img src="assets/Images/ReasonLogo.png" height="45" width ="109" style="margin-left:-20px;" title="Everyone will eventually listen to Reason"/>-->
        <!--</a>-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> menu <i class="fa fa-bars"></i>
        </button>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!--<div class="dropdown">
      
          <ul class="nav navbar-nav navbar-right">
            <li><a class="mdl-navigation__link" [routerLink]="'/home'">absa\Leewayne</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="'/admin'">Admin</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="'/std'">Std</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="'/feedback'">Feedback</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="'/StdProvFormInput'">Std Prov Form Input</a></li>
          </ul>

      </div>-->

      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">absa\Leewayne &nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="mdl-navigation__link" [routerLink]="'/admin'">Admin</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="'/std'">Std</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="'/feedback'">Feedback</a></li>
          </ul>
        </li>
      </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>

    <!-- Router Outlet -->
    <div class="container" style="margin-top:60px;margin-bottom:100px;">
      <router-outlet></router-outlet>
    </div>

  <!-- Footer -->
  <nav id="footer" class="navbar navbar-default navbar-fixed-bottom affix" style='background-color:#337ab7'>
    <div style="margin-left:auto;margin-right:auto;width:250px;line-height:50px;color:white">
      &copy; Project Reason {{year}} | Ultima Ratio Regum<br/>
    </div>
  </nav>
