<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top:10px;">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne" style="background-color:#337ab7;color:White;">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" [attr.aria-expanded]="Panel1a" aria-controls="collapseOne">
          Step 1: Configure your server
        </a>
      </h4>
    </div>

      <div id="collapseOne" class="{{Panel1Class}}" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        <std-prov-form-input (submittedEvent)="submittedEvent($event)" ></std-prov-form-input>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo" style="background-color:#337ab7;color:White;">
      <div style="float:right;">&nbsp;&nbsp; {{uuid}} &nbsp;&nbsp;<img src="assets/Images/ajax-loader-header.gif" *ngIf="!displaySubmitButton"/></div>
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" [attr.aria-expanded]="Panel2a" aria-controls="collapseTwo">
          Step 2: Status and Logs
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="{{Panel2Class}}" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

                  <!-- Status -->
                  <div *ngIf="displayRequestDiv" style="margin:10px;">
                    <h4><b>Status:</b> <span id='status' >{{status}}</span></h4>
                    <h5><b>Message:</b> {{statusChangeMessage}} <span *ngIf="!displaySubmitButton">{{pollCounterString}}</span></h5>
                    <h6><b>Last staus query:</b> {{statusTimeStamp}}</h6>
                  </div>
             
                <!-- Logs -->
                <div style="margin:20px;">
                    <streaming-list-component 
                        [is-visible]="displayLogDiv"
                        [items]="logArr"
                        [status]="'Last log query:' + logsTimeStamp" 
                        icon-type="glyphicon-list"
                        title="Logs">
                    </streaming-list-component>
                </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree" style="background-color:#337ab7;color:White;">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" [attr.aria-expanded]="Panel3a" aria-controls="collapseThree">
          Step 3: Outputs
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="{{Panel3Class}}" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

                <!-- Outputs -->
                <div  style="margin:20px;">
                    <streaming-list-component 
                        [is-visible]="displayOutputDiv"
                        [items]="outputsArr" 
                        [status]="'Last output query:' + logsTimeStamp"
                        icon-type="glyphicon-check"
                        title="Outputs">
                    </streaming-list-component> 
                </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour" style="background-color:#337ab7;color:White;">
      <h4 class="panel-title">
        <a style="display:hidden;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" [attr.aria-expanded]="Panel4a" aria-controls="collapseFour">
          Step 4: Give us your feedback
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="{{Panel4Class}}" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">

        <feedback-component featureName="Admin Provisioning Page"></feedback-component >

      </div>
    </div>
  </div>

</div>