

<br>

<br>
<br>
<br>

<br>
<br>



<!--<li *ngFor="let item of sizeoptions "><a href=""></a>{{item.Description}}></li>-->
<h2><span class="glyphicon glyphicon-cog blue"></span> Deploy your Reason Environment</h2>

<form #x="ngForm"(ngSubmit)="sendRequest(x.value);">

  <div class="form-group">
    <label for="templateName">Project Name</label>
    <input type="text" class="form-control" id="projectName" placeholder="Enter a friendly name" name="projectName" required ngModel >
  </div>


  <div class="form-group">
    <label for="templateName">Provisioning Name</label>
    <input type="text" class="form-control" id="templateName" placeholder="Enter a friendly name" name="templateName" required ngModel >
  </div>


  <div class="form-group"l>
    <label for="sel1s">Operating System</label>
    <select [(ngModel)]="selectedOSValue" name="selectedOSValue" class="form-control" id="sel1s"  required>
      <option   value="{{item.ID}}" *ngFor="let item of OSoptions "  [ngValue]="item.Description" >{{item.Description}}</option>
    </select>
  </div>

<div class="form-group">
  <label for="sel1">Choose your Instance Size</label>
  <select [(ngModel)]="instanceSizeSelectedValue" name="instanceSizeSelectedValue"class="form-control" id="sel1" required>
    <option value="{{item.ID}}"*ngFor="let item of sizeoptions "><a href=""></a>{{item.Description}}</option>
  </select>
</div>

  <div lass="form-group">
    <label for="sel1">Subnet</label>
    <select [(ngModel)]="subnetSelectedValue" name="subnetSelectedValue"class="form-control" id="sel1d" required>
      <option value="{{item.ID}}"*ngFor="let item of subnetoptions "><a href=""></a>{{item.Description}}</option>
    </select>
  </div>
    <br>

    <div class="form-group">
      <label for="sel1">Additional Disk Sizes</label>
      <select class="form-control" id="sel1hh">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
<br>
<br>

<!--<button type="submit" class="btn btn-primary">Deploy-->
<!--<span class="glyphicon glyphicon-arrow-right "></span>-->
<!--</button>-->
<!-- Trigger the modal with a button -->


<button type="submit" [disabled]="!x.form.valid" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#myModal" >Deploy</button>
  <!--<button type="submit" class="btn btn-info btn-lg"  [routerLink]="['/confirm']" >Deploy</button>-->
  </form>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span> Request Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Request Summary: </p>
        <div class="container">
          <div class="table-responsive" style="width:400px">
            <table class="table" >
              <thead>
              <tr >
                <th>Key</th>
                <th>Value</th>
                </tr>
              </thead>
              <tbody>


              <tr>
                <td>Project Name:</td>
                <td>{{projectName}}</td>
              </tr>

              <tr>
                <td>Template Name:</td>
                <td>{{templateName}}</td>
              </tr>

                <tr>
                <td>Subnet:</td>
                <td>{{subnetSelectedValue}}</td>
               </tr>

                <tr>
                  <td>Operating System:</td>
                  <td>{{selectedOSValue}}</td>
                </tr>

                <tr>
                  <td>Size:</td>
                  <td>{{instanceSizeSelectedValue}}</td>
                </tr>



              </tbody>
            </table>

          </div>
        </div>

      </div>

      <div class="modal-footer">

        <button type="button" (click)="sendConfirmedRequest()" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-up"></span>Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-down"></span>Quit</button>
      </div>

    </div>

  </div>
</div>
















<nav id="footer" class="navbar navbar-default navbar-fixed-bottom affix">
  <div style="margin-left:auto;margin-right:auto;width:250px;line-height:50px;color:#919396">
    &copy; Project Reason {{year}}
  </div>
</nav>
